@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 3rem;
    display: flex;
    align-items: center;
    background: rgb(112,20,232);
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: rgb(112,20,232);
        border-bottom: 0;
    }

    .main .content{
        padding-left: 0 !important;  
        padding-right: 0 !important; 
        padding-top: 0
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 0;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.jumbotron {
    background: url(../images/home-hero-bg.svg),linear-gradient(180deg,#7014e8 30.12%,#0e5ecf 192.47%); 
    border-radius: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

    .jumbotron .container {
        text-align: center;
        color: #fff;
        padding-top: 72px;
        padding-bottom: 80px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .jumbotron .container>:last-child {
        margin-bottom: 0;
    }

    .jumbotron h1{
        font-size: 62px;
        line-height: 71px;
        margin-top: 0;
        margin-bottom: 10.5px;
    }

    .jumbotron .lead {
        font-size: 34px;
        font-weight: 500;
        line-height: 51px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

.container {
    padding: 0 20px;
}

.img-bordered {
    border: 1px solid #ccc;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-responsive-center {
    margin-left: auto;
    margin-right: auto;
}

.swim-gray {
    background: #f0f0f0;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-60 {
    padding-top: 60px;
}

.btn-white {
    color: #512bd4;
    background-color: #fff;
    border-color: transparent;
    font-family: "Segoe UI Semibold","Segoe UI",Helvetica,Arial,sans-serif;
}

.btn-white:hover {
    color: #512bd4;
}

.btn-purple {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 1px;
    font-family: "Segoe UI Semibold","Segoe UI",Helvetica,Arial,sans-serif;
}

.btn-purple:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-family: "Segoe UI Semibold","Segoe UI",Helvetica,Arial,sans-serif;
}

.btn-lg {
    padding: 12px 24px;
    font-size: 19px;
    min-width: 180px;
    line-height: 1.3333333;
    border-radius: 0;
    display: block;
    margin: 0 10px;
    border: 1px solid;
    user-select: none;
}

.navbar-toggler {
    background-color: rgb(112, 20, 232);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    /* .main .top-row {
        display: none;
    } */
    .nav-links {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        box-sizing: border-box;
        opacity: 0.9;
    }

    .nav-links:not(.show) {
        display: none;
    }

    .nav-ul{
        margin-right: auto;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        margin-top: 0px;
        box-sizing: border-box;
        opacity: 1;
        color: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .nav-links {
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    .nav-ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        margin-top: 0px;
        box-sizing: border-box;
    }

    .nav-ul .nav-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .container {
        width: 740px;
        margin-right: auto;
        margin-left: auto;
    }

    .btn {
        display: inline-block;
        width: auto;
    }
    .btn-scale:hover, .btn-scale:active, .btn-scale.active {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .col-sm-6 {
        width: 50%;
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1160px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1380px;
    }
}
