@page "/"
<div class="px-0">
    <div class="jumbotron">
        <div class="container">
            <h1>Blazor</h1>
            <p class="lead">使用 C# 来创建 Web 应用</p>
            <p>
                <a class="btn btn-white btn-lg btn-scale" href="https://docs.microsoft.com/aspnet/core/blazor/get-started" target="_blank" role="button">入门</a>
                <a class="btn btn-purple btn-lg btn-scale" href="https://docs.microsoft.com/aspnet/core/blazor" target="_blank" role="button">文档</a>
            </p>
            <p>支持 Windows, Linux, and macOS</p>
        </div>
    </div>
</div>