@inherits LayoutComponentBase

<div class="main">
    <div class="top-row navbar navbar-dark bg-primary">
        <ul class="nav flex-row mx-auto">
            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    首页
                </NavLink>
            </li>
            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link" href="counter">
                    博客
                </NavLink>
            </li>
            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link" href="fetchdata">
                    问答
                </NavLink>
            </li>
            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link" href="about">
                    关于我们
                </NavLink>
            </li>
        </ul>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
