@inherits LayoutComponentBase

<div class="main">
    <div class="top-row navbar navbar-light" style="border: 0; background-color: RGB(112,20,232)">
        <ul class="nav flex-row mx-auto">
            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    首页
                </NavLink>
            </li>
            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link" href="counter">
                    博客
                </NavLink>
            </li>
            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link" href="fetchdata">
                    问答
                </NavLink>
            </li>
            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link" href="about">
                    关于我们
                </NavLink>
            </li>
        </ul>
    </div>

    <div class="content" style="padding-left: 0 !important;  padding-right: 0 !important; padding-top: 0">
        @Body
    </div>
</div>
