@inherits LayoutComponentBase

<div class="main">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass">
            <ul class="nav-ul">
                <li class="nav-item">
                    <NavLink class="nav-link py-0" href="" Match="NavLinkMatch.All">
                        首页
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link py-0" href="counter">
                        博客
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link py-0" href="fetchdata">
                        问答
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link py-0" href="about">
                        关于我们
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        @Body
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "nav-links" : "nav-links show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}